body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.wrapper {
  background: linear-gradient(to right, #ff3cac, #784ba0);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  width: 300px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  position: relative;
}

.mascot {
  width: 16rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  color: #000000;
  margin: 10px 0 20px;
  font-size: 1.76rem;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #e0e0e0;
}

.sign-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ff9966, #9933ff);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.home-btn {
  width: 100%;
  padding: 10px;
  height: 4rem;
  background: linear-gradient(to right, #ff9966, #8323e4);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1rem;
}


.forgot {
  display: block;
  margin: 10px 0;
  font-size: 12px;
  color: #ffffff;
  text-decoration: underline;
}
.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-account {
  margin-top: 10px;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.create-account a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.fb {
  margin-left: 10px;
}
